---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Planetary</strong> Playing Cards</h1>
<div class="cards">
    <div class="cardSun">
        sun
    </div>

    <div class="cardGrid">
        <div class="card">mercury</div>
        <div class="card">venus</div>
        <div class="card">earth</div>
        <div class="card">mars</div>
        <div class="card">jupiter</div>
        <div class="card">saturn</div>
        <div class="card">uranus</div>
        <div class="card">neptune</div>
    </div>
</div>