:root {
    background: #353535;
}

body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #353535;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(109, 27, 27) 0%, rgb(130, 67, 172) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

/* 
Notes from video

main {
    display: grid;
    grid-template-column: 200px 200px 200px; depending on how many values = how many columns show up
    gap: px;
    grid-auto-rows: 100px;
} 

.module {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.module {
    grid-column: 1 / 3;
    grid-row: 3 / 1;
} 
*/

.cardGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: 150px;
    gap: 20px;
    padding-left: 20px;
}

.card {
    background: #b5b5b5;
    text-align: center;
    justify-content: end;
    border-radius: 5px;
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
}

.cardSun {
    color: black;
    background: #b5b5b5;
    width: 200px;
    height: 320px;
    border-radius: 10px;
}